<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Defaults Set</key>
	<true/>
	<key>Welcome Alert Shown</key>
	<false/>
	<key>Download Alerts Enabled</key>
	<true/>
	<key>Enabled Applications</key>
	<array/>
	<key>Full Quality Video Only</key>
	<true/>
	<key>Default Audio Track Only</key>
	<false/>
	<key>Enable All Applications</key>
	<true/>
	<key>Resume Videos</key>
	<true/>
	<key>Did Accept User Agreement</key>
	<false/>
</dict>
</plist>
